*.py[cod]
*.pstats
*.svg
*.vtu
*.tar.gz

# C extensions
*.so
src/pymor/tools/inplace.c
src/pymor/tools/relations.c
src/pymor/grids/_unstructured.c
src/pymordemos/minimal_cpp_demo/bindings_generated.cpp

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# other
*~
*.swp
.spyderproject
README.html
README.txt
.settings/
.cache/
src/pymor/version.py
.kateproject*
venvs

# coverage.py output
*,cover
htmlcov/
coverage.xml
libpeerconnection.log
debian/pymor/
.cache
3to2.conversion.ok
