Christian Himpe <himpe@mpi-magdeburg.mpg.de>
Dennis Eickhorn <d.eickhorn@uni-muenster.de>
Dennis Eickhorn <d.eickhorn@uni-muenster.de> <d.eickhorn@mail.de>
Dennis Eickhorn <d.eickhorn@uni-muenster.de> <d.eickhorn@wwu.de>
Falk Meyer <falk.meyer@uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de>
Felix Schindler <felix.schindler@wwu.de> <felix.albrecht@uni-muenster.de>
Felix Schindler <felix.schindler@wwu.de> <felix.albrecht@wwu.de>
Felix Schindler <felix.schindler@wwu.de> <felix@schindlerfamily.de>
Felix Schindler <felix.schindler@wwu.de> <ftalbrecht@users.noreply.github.com>
Felix Schindler <felix.schindler@wwu.de> <mail@felixalbrecht.de>
Hendrik Kleikamp <hendrik.kleikamp@uni-muenster.de>
Hendrik Kleikamp <hendrik.kleikamp@uni-muenster.de> <h_klei18@uni-muenster.de>
Linus Balicki <linus.balicki@ovgu.de>
Linus Balicki <linus.balicki@ovgu.de> <38659258+lbalicki@users.noreply.github.com>
Linus Balicki <linus.balicki@ovgu.de> <linuxte@yahoo.de>
Luca Mechelli <luca.mechelli@uni-konstanz.de>
Lucas Camphausen <lucascamp@web.de>
Petar Mlinarić <mlinaric@mpi-magdeburg.mpg.de>
Petar Mlinarić <mlinaric@mpi-magdeburg.mpg.de> <petar.mlinaric@gmail.com>
Petar Mlinarić <mlinaric@mpi-magdeburg.mpg.de> <pmli@users.noreply.github.com>
René Fritze <rene.fritze@uni-muenster.de>
René Fritze <rene.fritze@uni-muenster.de> <rene.fritze@wwu.de>
René Fritze <rene.fritze@uni-muenster.de> <rene.milk@uni-muenster.de>
René Fritze <rene.fritze@uni-muenster.de> <rene.milk@wwu.de>
René Fritze <rene.fritze@uni-muenster.de> <renemilk@users.noreply.github.com>
Stephan Rave <stephanrave@uni-muenster.de>
Stephan Rave <stephanrave@uni-muenster.de> <mail@stephanrave.de>
