language: generic

before_install:
 - git fetch --depth=1000 --tags origin master
 - alias python=python${PYMOR_PYTHON_VERSION}
 - export PYTHON_X=python${PYMOR_PYTHON_VERSION}
 - export PY_TEST_X=py.test-${PYMOR_PYTHON_VERSION}
 - export PIP_X=pip${PYMOR_PYTHON_MAJOR}
 - sudo add-apt-repository -y ppa:pymor/stable
 - sudo add-apt-repository -y ppa:fenics-packages/fenics
 - sudo apt-get update -qq
 # these are packages not on travis' whitelist/only in our ppa
 - sudo apt-get install -y -qq python-docopt python-pytest python-opengl python-distribute ipython python-pyside python-mpi4py
 - sudo apt-get install -y -qq python3-pip, python3.4-venv python3-docopt python3-pytest python3-opengl ipython3 python3-pyside python3-mpi4py
 - for pkg in https://bitbucket.org/pauloh/pyevtk/get/tip.tar.gz ipyparallel pytest-cov sympy python-coveralls ; do sudo -E ${PIP_X} install ${pkg} ; done
 # using aptitude here because it auto-fixes problems
 - sudo aptitude install -y -q dolfin-dev python-dolfin
 - ${PYTHON_X} -c 'import  dolfin' || echo "import dolfin failed"

install:
 - |
  if [ "${PYMOR_PYTHON_MAJOR}" == "2" ] ; then
    make 3to2
  fi
 - ${PYTHON_X} setup.py build_ext -i

sudo: required
dist: trusty

script:
 - |
  if [ "${PYTEST_MARKER}" == "PIP_ONLY" ] ; then
    virtualenv --python=${PYTHON_X} piptest
    source piptest/bin/activate
    # this fails on PRs, so skip it
    [[ "${TRAVIS_PULL_REQUEST}" != "false" ]] || ${PIP_X} install git+https://github.com/${TRAVIS_REPO_SLUG}.git@${TRAVIS_COMMIT}
  elif [ "${PYTEST_MARKER}" == "MPI" ] ; then
    export PYTHONPATH=$(pwd)/src
    xvfb-run -a mpirun -n 2 ${PYTHON_X} src/pymortests/mpi_run_demo_tests.py
  else
    # this runs in pytest in a fake, auto numbered, X Server
    xvfb-run -a ${PY_TEST_X} -k "${PYTEST_MARKER}"
  fi

notifications:
  email: 
    on_success: change
    on_failure: change

after_success:
  - coveralls

branches:
  except:
    - gh-pages

addons:
  apt:
    packages:
    - debhelper
    - python-pip
    - python-markupsafe
    - python3-markupsafe
    - git
    - cython
    - xvfb
    - libopenmpi-dev
    - python3-numpy
    - python3-sphinx
    - python3-scipy
    - python3-matplotlib
    - python3-dev
    - python3-six
    - python-six
    - python-virtualenv
    - python-numpy
    - python-sphinx
    - python-scipy
    - python-matplotlib
    - python-sympy
    - python-dev
    - python3
    - dh-make
    - python-docutils
    - build-essential
    - libblas-dev
    - liblapack-dev
    - libatlas-dev
    - libsuitesparse-dev
    - gfortran
    - libqt4-dev
    - gmsh

os:
  - linux

env:
  global: PYMOR_PYTHON_MAJOR=3 PYMOR_PYTHON_VERSION=3.4
  matrix:
  - PYTEST_MARKER="not slow"
  - PYTEST_MARKER="slow"
  - PYTEST_MARKER="PIP_ONLY"
  - PYTEST_MARKER="MPI"
  - PYMOR_PYTHON_MAJOR=2 PYMOR_PYTHON_VERSION=2.7 PYTEST_MARKER="not slow"

