include *.txt
include *.html
include src/pymor/version.py
include src/pymor/scripts/check_reqs.py

include .coveragerc
include Makefile
include pytest.ini

graft src/pymordemos/minimal_cpp_demo
graft src/pymortests/testdata
graft src/pymortests/data
graft docs
graft notebooks

include *.md
include *.py
include versioneer.py
include pyproject.toml
include .env

include MANIFEST.in
include README.rst
include CITATION.cff
# this file and entry needs to be removed upon completion of issue #540
include src/pymor/tools/LICENSE-MIT

prune .binder
prune .ci
exclude .dockerignore
prune logo
