https://bitbucket.org/pauloh/pyevtk/get/tip.tar.gz
ipyparallel
ipython>=3.0
matplotlib
mpi4py
pyamg
pyopengl
pyside ; python_version == '2.7'
https://pymor.github.io/wheels/PySide-1.2.2-cp34-cp34m-linux_x86_64.whl ; python_version == '3.4'
https://pymor.github.io/wheels/PySide-1.2.2-cp35-cp35m-linux_x86_64.whl ; python_version == '3.5'
pytest
pytest-cov
pillow
