-r requirements.txt
PyQt5 ; python_version >= "3.5"
https://bitbucket.org/pauloh/pyevtk/get/tip.tar.gz
https://github.com/python-control/Slycot/archive/master.zip
ipyparallel
ipython>=3.0
matplotlib
mpi4py
pillow
psutil
pyamg
pyopengl
pyside; python_version < "3.5"
pytest-cov
pytest>=3.0
