version: '3'

# this service runs a jupyter notebook server with all of pymor's
# requirements installed and the src directory added to PYTHONPATH

# you should have a preset PYMOR_JUPYTER_TOKEN environment variable,
# then start with ```docker-compose up --build```
# and connect to the server at http://localhost:9180/?token=${PYMOR_JUPYTER_TOKEN}

services:
  jupyter:
    build:
        context: ../
        dockerfile: .binder/Dockerfile
        args:
            PYVER: 3.7
            PYMOR_JUPYTER_TOKEN: "${PYMOR_JUPYTER_TOKEN}"
            NB_USER: "${USER}"
            NB_UID: 1000
            BUILD_ENV: dev

    ports:
        - 9180:8888
    volumes:
        - ./..:/pymor
    restart: "no"
    entrypoint: /usr/local/bin/dev-entrypoint.bash
    command: >
        bash -c "cd notebooks && jupyter notebook --ip 0.0.0.0 --no-browser"

  pytest:
    image: pymor/testing:3.7
    environment:
      - PYMOR_PYTEST_MARKER=${PYMOR_PYTEST_MARKER}
      - CI_PROJECT_DIR=/src
    volumes:
        - ./..:/src
    restart: "no"
    command: "/src/.ci/gitlab/script.bash"
