version: '2.4'

# you should not use this file directly, but rather via the targets in ../Makefile

# this service runs a jupyter notebook server with all of pymor's
# requirements installed and the src directory added to PYTHONPATH

# you should have a preset PYMOR_JUPYTER_TOKEN environment variable,
# then start with ```make docker_jupyter```
# and connect to the server at http://localhost:9180/?token=${PYMOR_JUPYTER_TOKEN}

# 3rd party libraries that need editing can be put in .binder/local_packages/
# These are "installed" at build time of the image and will be available
# via mount at container runtime

services:
  jupyter:
    depends_on:
      - pypi_mirror
    image: pymor/local_dev:${CI_IMAGE_TAG}
    build:
        context: ../
        dockerfile: .binder/Dockerfile
        args:
            BASE: zivgitlab.wwu.io/pymor/docker/pymor/jupyter_py${DOCKER_BASE_PYTHON}:${CI_IMAGE_TAG}
            PYMOR_JUPYTER_TOKEN: "${PYMOR_JUPYTER_TOKEN}"
            NB_USER: "${NB_USER}"
            NB_UID: "${NB_UID}"

    ports:
        - 9181:8888
    volumes:
        - ./..:/pymor:z
        - ./local_packages:/pymor/local_packages:z
    restart: "no"
    environment:
      - CI_COMMIT_REF_NAME
      - NB_DIR
      - PYMOR_HYPOTHESIS_PROFILE
      - PYMOR_PYTEST_EXTRA
    user: ${USER}
    entrypoint: /usr/local/bin/dev-entrypoint.bash
    # xsrf check disabled for docs viewing with chrome. Somewhat related issue: https://github.com/jupyterlab/jupyterlab/issues/6106
    # and see also https://bugs.chromium.org/p/chromium/issues/detail?id=455987
    command: >
        bash -c "jupyter notebook --ip 0.0.0.0 --no-browser --notebook-dir=$${NB_DIR} --NotebookApp.disable_check_xsrf=True"

  pytest:
    image: zivgitlab.wwu.io/pymor/docker/pymor/testing_py${DOCKER_BASE_PYTHON}:${CI_IMAGE_TAG}
    depends_on:
      - pypi_mirror
    environment:
      - CI_PROJECT_DIR=/pymor
      - CI_PROJECT_URL=https://zivgitlab.uni-muenster.de/pymor/pymor
      - CI_COMMIT_SHA
      - CI_COMMIT_REF_NAME
      - PYMOR_HYPOTHESIS_PROFILE
      - PYMOR_PYTEST_EXTRA
    # this is a conservative estimate of available RAM on the gitlab ci runners
    mem_limit: 3500mb
    volumes:
        - ./..:/pymor
    restart: "no"
    command: "/pymor/.ci/gitlab/test_${PYMOR_TEST_SCRIPT}.bash"

  pypi_mirror:
    image: zivgitlab.wwu.io/pymor/docker/pymor/pypi-mirror_${PYPI_MIRROR}_py${DOCKER_BASE_PYTHON}:${PYPI_MIRROR_TAG}
    restart: "no"

  install_check:
    image: zivgitlab.wwu.io/pymor/docker/pymor/deploy_checks_${PYMOR_TEST_OS}:${PYPI_MIRROR_TAG}
    volumes:
        - ./..:/pymor
    depends_on:
      - pypi_mirror
    command: /bin/bash
  wheel_check:
    image: pymor/deploy_checks:devpi_${PYMOR_TEST_OS}
    volumes:
        - ./..:/pymor
    depends_on:
      - pymor__devpi
    command: /bin/bash

  pymor__devpi:
    image: zivgitlab.wwu.io/pymor/docker/pymor/devpi:1
    restart: "no"

  docs:
    image: pymor/local_dev:${CI_IMAGE_TAG}
    depends_on:
      - jupyter
    environment:
      - PYMOR_FORCE_JUPYTER=1
      - PYMOR_WITH_SPHINX=1
      - PYMOR_PYTEST_EXTRA
      - CI_PROJECT_DIR=/pymor
      - CI_COMMIT_REF_NAME
    volumes:
        - ./..:/pymor
    restart: "no"
    command: "/pymor/.ci/gitlab/test_docs.bash"
