#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

define buildscript
import sys,sysconfig
print("build/lib.{}-{}.{}".format(sysconfig.get_platform(), *sys.version_info[:2]))
endef

builddir := $(shell python3 -c '$(buildscript)')

export PYMOR_DEB_VERSION=$(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')

%:
	dh $@ --with sphinxdoc,python3 --buildsystem=pybuild

override_dh_auto_install:
	python3 setup.py install --root=debian/pymor --install-layout=deb
	dh_auto_install

override_dh_auto_build:
	dh_auto_build
	python3 setup.py build
	PYTHONPATH=$(builddir) http_proxy='127.0.0.1:9' READTHEDOCS=True python3 setup.py build_sphinx -b html

override_dh_sphinxdoc-arch:

override_dh_auto_test:

override_dh_clean:
	dh_clean
	rm -rf *egg
	rm -f distribute*.tar.gz
	rm -f docs/docutils.conf
	rm -rf build/ dist/
	find . -name "*.pyc" -exec rm {} \;
	rm -f src/pymor/version.py
