#!/usr/bin/make -f
# -*- makefile -*-

PY2VERS=$(shell pyversions -vr debian/control)
PY3VERS=$(shell py3versions -vr)
PYDEF=$(shell pyversions -dv)
PY3DEF=$(shell py3versions -dv)
PYLIBPATH := $(shell python -c "from distutils.command.build import build ; from distutils.core import Distribution ; b = build(Distribution()) ; b.finalize_options() ; print b.build_platlib")

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
export DH_OPTIONS=-v

define buildscript
import sys,sysconfig
print("build/lib.{}-{}.{}".format(sysconfig.get_platform(), *sys.version_info[:2]))
endef

builddir := $(shell python -c '$(buildscript)')

export PYMOR_DEB_VERSION=$(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')

%:
	dh $@ --with sphinxdoc,python2

override_dh_auto_install:
	python setup.py install --root=debian/pymor --install-layout=deb
	dh_auto_install

override_dh_auto_build:
	dh_auto_build
	python setup.py build
	PYTHONPATH=$(builddir) http_proxy='127.0.0.1:9' READTHEDOCS=True python setup.py build_sphinx -b html

override_dh_sphinxdoc-arch:

override_dh_auto_test:

override_dh_clean:
	dh_clean
	rm -rf *egg
	rm -f distribute*.tar.gz
	rm -f docs/docutils.conf
	rm -rf build/ dist/
	find . -name "*.pyc" -exec rm {} \;
	rm -f src/pymor/version.py
