.md-typeset .md-typeset__table{
    display:block;
    margin-bottom:.5em;
    padding:0 .8rem
}

.md-typeset .admonition{
    overflow: hidden;
}

.output.text_html {
    display: inline;
}

.output.text_html div:last-child {
    float: none !important;
}

.md-header {
    background-color: #3155a0 !important;
    color: white !important;
}

@media only screen and (max-width:76.1875em) {
    .md-nav--primary .md-nav__title--site {
        background-color: #3155a0 !important;
    }
}

.md-tabs {
    background-color: white !important;
    color: rgba(0,0,0,.87) !important;
}

.md-typeset a {
    color: #3155a0 !important;
}

.md-nav__link--active, .md-nav__link:active {
    color: #3155a0 !important;
}

.md-typeset a:hover {
    color: #469ecc !important;
}

.md-nav__item a:hover {
    color: #469ecc !important;
}

.md-search__input {
    background-color: #242e60 !important;
}

.md-search__input::placeholder {
    color: #f5f5f5 !important;
}

.p-Collapse-header {
    padding: calc(var(--jp-widgets-container-padding) * 1 / 5) var(--jp-widgets-container-padding) !important;
    font-size: .7rem !important;
}

div.cell div.cell_input {
    border: None !important;
    border-left: green solid medium !important;
}

div.cell div.cell_output, div.cell div.cell_output .highlight {
    padding-left: 0 !important;
    background-color: #fff2cc !important;
}

div.cell div.cell_output div.jupyter-widgets {
    margin: 0 !important;
}

div.cell_output img {
    padding-top: 0.5em !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

div.cell_output .output.stream, div.cell_output .output.text_plain {
    border: None !important;
}

div.lm-Widget.p-Widget.lm-Panel.p-Panel.jp-OutputArea-child {
    float: left !important;
}

.py.class, .py.function {
    padding: 0 0 .1rem 0rem !important;
    border-left: .2rem solid #448aff !important;
    border-radius: .1rem !important;
    margin-bottom: 1.25rem !important;
    margin-top: 1.25rem !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12),0 3px 1px -2px rgba(0,0,0,.2) !important;
}

.py.class dd, .py.function dd {
    padding-right: .6rem;
}

.sig.sig-object.py {
    padding: .4rem .6rem .4rem .6rem !important;
    border-bottom: .05rem rgba(68,138,255,.1) solid !important;
    background-color: rgba(68,138,255,.1) !important;
    margin-top: 0 !important;
}

.md-typeset .admonition > .admonition-title::before,
.md-typeset .admonition > summary::before,
.md-typeset details > .admonition-title::before,
.md-typeset details > summary::before {
    color: rgba(0,0,0,.87) !important;
}

html .md-typeset .admonition > :last-child, html .md-typeset details > :last-child {
    margin-top: .6rem !important;
}

.py.class .admonition, .py.function .admonition {
    border-left: None;
}

.py.class > dd > .admonition.admonition-parameters {
    border-left: .2rem solid #ffd042;
}

.py.class > dd > .admonition.admonition-parameters .admonition-title {
    border-bottom: .05rem solid #ffd042;
    background-color: #ffecb3;
}

.admonition-raises.admonition {
    border-left: .2rem solid #ff7142 !important;
}

.admonition-raises.admonition .admonition-title {
    border-bottom: .05rem solid #ff7142;
    background-color: #ffc6b3;
}

.py.method, .py.function {
    border-left: .1rem solid #448aff !important;
}

.align-left {
    float: left;
}
