.md-typeset .md-typeset__table{
    display:block;
    /* background-color: red; */
    margin-bottom:.5em;
    padding:0 .8rem
}

.md-typeset .admonition{
    overflow:hidden;
}

.cell_output {
    display: inline-block;
}
